<div class="carousel slide" id= "myCarousel">
  
  <!-- indicators -->
  <ol class="carousel-indicators">
    <li class= "active" data-slide-to="0" data-target="#myCarousel" ></li>
    <li data-slide-to="1" data-target="#myCarousel" ></li>
    <li data-slide-to="2" data-target="#myCarousel" ></li>
  </ol>
  <!-- Wrapper for the slide -->
  <div class= "carousel-inner">
    <div class= "item active" id= "slide1">
      <div class= "carousel-caption">
        <h3>Join Our Community and Enjoy the commonness!</h3>
        <p>This is the place where your can easily frind your's family and friends address details</p>
      </div>
    </div>
    
    <div class= "item" id= "slide2">
      <div class= "carousel-caption">
        <h3>Share your own information!</h3>
        <p>Become the first to share your information with Friends and Family</p>
      </div>
    </div>
    
    <div class= "item" id= "slide3">
      <div class= "carousel-caption">
        <h3>Take the advantage of greate offer!</h3>
        <p>Add your friend to your account as much with no cost, Sign Up now!</p>
      </div>
    </div>
  </div>
  
  <!-- Controller -->
  
  <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
  <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
  
</div><!-- end myCarousel -->

<div class="jumbotron jumbotron-img center">
  <h1>Your Address Book </h1>
  <p class="lead-para">Sign Up and create your own address books of your friends and family and share it.</p>
  <div class="center signup">
    <%= link_to 'Sign Up Now', signup_path, class: "btn btn-lg btn-xlarge btn-success" %>
  </div>
</div>
