<div class="jumbotron jumbotron-img center">
  <h1>Your Address Book </h1>
  <p class="lead-para">Sign Up and create your own address books of your friends and family and share it.</p>
  <div class="center signup">
    <%= link_to 'Sign Up Now', "#", class: "btn btn-lg btn-xlarge btn-success" %>
  </div>
</div>
