<footer class="text-center footer" >
  <nav class="nav navbar navbar-inverse ">
    <ul class="right-links clearfix">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', "#" %></li>
      <li><%= link_to 'All Contacts', "#" %></li>
      <li><%= link_to 'Users', "#" %></li>
    </ul>
   <p class= "lead-para"><span><small>Coded with &hearts; by <a href="https://alpha-blog-mohammad-liaquat.herokuapp.com/">Mohammad L Ali</a> in Atlanta, Georgia</small></span></p>
  </nav>
</footer>